<html>

<head>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/upload.jpg' %}">
    <title>CareBond SITE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
</head>

<body>
    <header>
        <a href="{% url 'patienthome'%}" class="logo"><i class="	fas fa-book-reader" style="color:orangered;"></i> CareBond</a>
        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'mypersons'%}">MyPersons</a></li>
                <li><a href="{% url 'location'%}">Location</a></li>
                <li><a href="{% url 'medicine' %}">Medicines</a></li>
                <li class="navbar-item dropdown" style="color: black;">
                    <a href="#" class="btn btn-primary mt-3" style="text-transform:uppercase;color:white"
                        data-toggle="dropdown"><i class=" p-1"> {{request.user.first_name}}</i> </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'patientprofile' %}" class=" dropdown-item" style="color: black;">Profile</a>
                        <a href="{% url 'profileEdit' %}" class=" dropdown-item" style="color: black;">Edit Profile</a>
                        <a href="{% url 'changpass' %}" class=" dropdown-item" style="color: black;">Change Password</a>
                        <a href="{% url 'Logout' %}" class=" dropdown-item" style="color: red;">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
</body>
<script>
    function myloaction() {
        navigator.geolocation.getCurrentPosition(success, error);
        function success(pos) {
            const lat = pos.coords.latitude;
            const lng = pos.coords.longitude;
            console.log(lat,lng)
            sendData(lat, lng);
            console.log("success", Date());
        }
        function error(err) {
            console.log(err);
        }
    }

    function sendData(lat, lng) {
        fetch('/nav_data', {
            method: 'POST',
            body: JSON.stringify({ latitude: lat, longitude: lng }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                var mes = data['message'];
                for (let i of mes) {
                    console.log(i);
                    speakText(i);
                }
            })
            .catch(error => console.error('Error fetching user data:', error));
    }
    function speakText(text) {
        const speech = new SpeechSynthesisUtterance();
        speech.text = text;
        speech.lang = 'en-US';
        window.speechSynthesis.speak(speech);
    }
    console.log("function called");
    myloaction();
    setInterval(myloaction, 10000);
</script>

</html>